<h1>Editing vehicle</h1>

<%= render "form", vehicle: @vehicle %>

<br>

<div>
  <%= link_to "Show this vehicle", @vehicle, class:"btn btn-link" %> |
  <%= link_to "Back to vehicles", vehicles_path, class:"btn btn-link" %>
</div>
