<!--<p style="color: green"><%= notice %></p>-->
<div class="row">
  <div class="col-6">
    <h1>Vehicles</h1>
  </div>
  <div class="col-6">
    <%= link_to "New vehicle", new_vehicle_path, class: "btn btn-info" %>
  </div>
</div>

<div id="vehicles">
  <% @vehicles.each do |vehicle| %>
  <div class="card">
  <div class="card-body">
    <%= render vehicle %>
    <p>
      <%= link_to "Show this vehicle", vehicle, class: "btn btn-link" %>
    </p>
  </div>
  </div>
  <% end %>
</div>
